<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geoexplorer/externals/geoext/resources/css/geoext-all.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geoexplorer/externals/geoext/resources/css/gxtheme-gray.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geoexplorer/theme/ux/colorpicker/color-picker.ux.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geoexplorer/externals/printpreview/resources/css/printpreview.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geoexplorer/externals/openlayers/theme/default/style.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geoexplorer/externals/gxp/src/theme/all.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geoexplorer/theme/app/geoexplorer.css " />
<!--[if IE]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}geoexplorer/theme/app/ie.css"/><![endif]-->
<script src="{{STATIC_URL}}geoexplorer/script/GeoExplorer.js" type="text/javascript"></script>
<script type="text/javascript">
OpenLayers.ImgPath = "{{ STATIC_URL }}geoexplorer/externals/openlayers/theme/default/img";
OpenLayers.Request.DEFAULT_CONFIG.headers = {
    'X-CSRFToken': '{{ csrf_token|escapejs }}'
};

/**
 *  Add GetFeedFeatureInfo tool to GeoExplorer.Viewer
 *  ICT4EO - Bolelang: Added Playback Tool for WMS-T display to GeoExplorer.View
 */
GeoExplorer.Viewer.prototype.loadConfig = function(config) {
        config.viewerTools.push( {
            ptype: "gxp_getfeedfeatureinfo",
            checked: true
        }, {
            ptype: "gxp_playback", // Time playback tool - added by ICT4EO - Bolelang
            id: "playbar",
            checked: true,
        }, {
            ptype: "gxp_timeseriespopup", // Time series tool - added by ICT4EO - Bolelang
            checked: true,
        });

    // Do not include the layer styler on the map-detail view.
    {% if not map %}
        config.viewerTools.splice(5, 0, {
            id: "styler",
            ptype: "gxp_styler",
            checked: true
        });
    {% endif %}

    GeoExplorer.Viewer.superclass.loadConfig.call(this, config);
};

</script>

<!-- My additional library's-->
<!--Please change the location of this directory to point to the correct location on your PC : TEMP SOLUTION-->
<script src="/home/bolelang/.venvs/geonode/lib/python2.7/site-packages/django/contrib/gis/templates/gis/admin/openlayers.js" type="text/javascript"></script>
<!--<script src="{{STATIC_URL}}externals/OpenLayers/openlayers.js" type="text/javascript"></script>-->

<!--Time Serie Playback requirements -->
<script src="{{STATIC_URL}}externals/dimensionmgr/lib/OpenLayers/Control/DimensionManager.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}externals/dimensionmgr/lib/OpenLayers/Dimension/Agent.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}externals/dimensionmgr/lib/OpenLayers/Dimension/Model.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}externals/dimensionmgr/lib/OpenLayers/Dimension/Agent/WMS.js" type="text/javascript"></script>

<script src="{{STATIC_URL}}externals/gxp_tools/src/script/plugins/Playback.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}externals/gxp_tools/src/script/plugins/Tool.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}externals/gxp_tools/src/script/widgets/PlaybackToolbar.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}externals/gxp_tools/src/script/widgets/PlaybackOptionsPanel.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}externals/gxp_tools/src/script/widgets/form/PlaybackModeComboBox.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}externals/gxp_tools/src/script/widgets/slider/TimeSlider.js" type="text/javascript"></script>

<!-- graphing tools-->
<script src="{{STATIC_URL}}externals/gxp_tools/src/script/plugins/C_TimeSeries.js" type="text/javascript"></script>

<script src="http://d3js.org/d3.v3.js"></script>
